<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	
	<display-name>ELSEWeb Experiment Specification Submission</display-name>

	<servlet>
    	<servlet-name>JSONSpecification</servlet-name>
    	<servlet-class>edu.utep.cybershare.elseweb.experiment.JSONSpecification</servlet-class>
  	</servlet>
  	  
  	<servlet-mapping>
    	<servlet-name>JSONSpecification</servlet-name>
    	<url-pattern>/JSONSpecification</url-pattern>
  	</servlet-mapping> 
  	
  	<filter>
		<filter-name>CORS</filter-name>
		<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
	</filter>
  	
  	<filter-mapping>
        <filter-name>CORS</filter-name>
        <servlet-name>JSONSpecification</servlet-name>
	</filter-mapping>
  	  	
</web-app>
